# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [18]:
import re

In [20]:
emailAddress = input("Enter email addresses: ")
pat2 = "(\w+)@((\w+\.)+(com))"
r2 = re.match(pat2,emailAddress)
r3= r2.group(2)
print(r3)

Enter email addresses: john@google.com
google.com

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [21]:
items=[x for x in input("Enter Words :").split(',')]
items.sort()
print(','.join(items))

Enter Words :without,hello,bag,world
bag,hello,without,world

# Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

Set

In [22]:
thisset = {"apple", "banana", "cherry","mango"}
print(thisset)

{'cherry', 'mango', 'banana', 'apple'}

Access Items

In [24]:
thisset = {"apple", "banana", "cherry","mango"}

for x in thisset:
  print(x)

print("banana" in thisset)

cherry
mango
banana
apple
True

Change Items
Add Items

In [25]:
thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'mango', 'apple'}

In [26]:
thisset.update(["orange", "grapes"])

print(thisset)

{'cherry', 'orange', 'banana', 'grapes', 'mango', 'apple'}

Get the Length of a Set

In [27]:
print(len(thisset))

6

Remove Item

In [28]:
thisset.remove("banana")

print(thisset)

{'cherry', 'orange', 'grapes', 'mango', 'apple'}

In [29]:
x = thisset.pop()

print(x)

print(thisset)

cherry
{'orange', 'grapes', 'mango', 'apple'}

In [30]:
thisset.clear()

print(thisset)

set()

In [ ]:
del thisset

print(thisset)

Join Two Sets

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

The set() Constructor

In [34]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'cherry', 'banana', 'apple'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [45]:
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total- sum_of_A
A =[1,2,4,6,3,7,8]
miss = getMissingNo(A) 
print(miss)

5.0

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [46]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
duplicate = [12,24,35,24,88,120,155,88,120,155] 
print(Remove(duplicate))

[12, 24, 35, 88, 120, 155]